[Unit]
Description=Middager banner carousel
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Group=appropriate-group

WorkingDirectory=/home/pi/Middager
Type=simple
Restart=on-abort
ExecStart=/usr/bin/python middag.py -m loop

[Install]
WantedBy=multi-user.target