[Unit]
Description=Middager banner carousel
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Group=pi
KillMode=mixed
WorkingDirectory=/home/pi
Type=simple
Restart=on-abort
ExecStart=/usr/bin/python Middager/middag.py -m loop

[Install]
WantedBy=multi-user.target